<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="table">
	<tr>
		<td>name</td>
		<td>
			<%= user.name %>
		</td>
	</tr>
	<tr>
		<td>introduction</td>
		<td>
			<%= user.introduction %>
		</td>
	</tr>
  <tr>
    <td colspan="2">
      <%= link_to following_index_user_path(user.id) do %>
        <%= user.followings.count %>
        <span>フォロー</span>
      <% end %>
      <%= link_to follower_index_user_path(user.id) do %>
        <%= user.followers.count %>
        <span>フォロワー</span>
      <% end %>
    </td>
  </tr>
</table>
<% if user == current_user %>
  <%= link_to edit_user_path(user), type: "button", class: "btn btn-default btn-block" do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<% else %>
  <% if user.follow?(current_user) %>
    <%= link_to relationship_path(id: current_user.relationships.find_by(follow_id: user.id).id, follow_id: user.id, pass: passer ),method: :delete, type: "button", class: "btn btn-default btn-block" do %>
      <span>フォロー解除</span>
    <% end %>
  <% else %>
    <%= link_to relationships_path(follow_id: user.id, pass: passer),method: :post, type: "button", class: "btn btn-default btn-block" do %>
      <span>フォロー</span>
    <% end %>
  <% end %>
<% end %>

<h2>New book</h2>
<%= form_for newbook do |f| %>
	<p>Title</p>
	<%= f.text_field :title, style: "width:100%;" %>
	<p>Opinion<p>
	<%= f.text_area :body, style: "width:100%;" %>
	<br>
  <%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
<% end %>
