<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="table">
	<tr>
		<td>name</td>
		<td>
			<%= user.name %>
		</td>
	</tr>
	<tr>
		<td>introduction</td>
		<td>
			<%= user.introduction %>
		</td>
	</tr>
  <tr>
    <td colspan="2">
      <%= link_to following_index_user_path(user.id) do %>
        <%= user.followings.count %>
        <span>フォロー</span>
      <% end %>
      <%= link_to follower_index_user_path(user.id) do %>
        <%= user.followers.count %>
        <span>フォロワー</span>
      <% end %>
    </td>
  </tr>
</table>
<% if user == current_user %>
  <%= link_to edit_user_path(user), type: "button", class: "btn btn-default btn-block" do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<% else %>
  <% if user.follow?(current_user) %>
    <%= link_to relationship_path(id: current_user.relationships.find_by(follow_id: user.id).id, follow_id: user.id, pass: passer ),method: :delete, type: "button", class: "btn btn-default btn-block" do %>
      <span>フォロー解除</span>
    <% end %>
  <% else %>
    <%= link_to relationships_path(follow_id: user.id, pass: passer),method: :post, type: "button", class: "btn btn-default btn-block" do %>
      <span>フォロー</span>
    <% end %>
  <% end %>
<% end %>

<h2>New book</h2>
<%= form_for newbook do |f| %>
  <div class="form-group">
    <%= f.label :title, "title" %>
    <%= f.text_field :title, style: "width:100%;" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "opinion" %>
    <%= f.text_area :body, style: "width:100%;" %>
  </div>
  <h3>Tag</h3>
  <div id="tags">
    <div id="links">
      <%= link_to_add_association "add tags",f, :tags, partial: "templates/tag_fields" %>
    </div>
    <%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
<h2>New Tag</h2>
<%= form_for newtag do |f| %>
  <div class="form-group">
    <%= f.label :genre, "Tag" %>
    <%= f.text_field :genre, style: "width:100%;" %>
  </div>
  <h3>description</h3>
  <div id="public_description">
    <%= f.fields_for :public_descriptions do |description| %>
      <%= render "templates/public_description_fields", f: description %>
    <% end %>
    <div id="links">
      <%= link_to_add_association "add description",f, :public_descriptions, partial: "templates/public_description_fields" %>
    </div>
  </div>
  <%= f.hidden_field :pass, value: passer %>
  <%= f.submit "Create Tag", class: "btn btn-primary btn-block" %>
<% end %>
